
{% extends 'base.html' %}
      {% load staticfiles %}
      {% load  user_tags %}
{% block container %}
<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
{#                http://emilcarlsson.se/assets/mikeross.png#}
                <img id="profile-img" src="{% user_image request.user.id %}" class="online" alt=""/>
                <p>{{ request.user }}</p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>

                <div id="status-options">

                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span>
                            <p>Online</p></li>
                        <li id="status-away"><span class="status-circle"></span>
                            <p>Away</p></li>
                        <li id="status-busy"><span class="status-circle"></span>
                            <p>Busy</p></li>
                        <li id="status-offline"><span class="status-circle"></span>
                            <p>Offline</p></li>
                    </ul>
                </div>

                <div id="expanded">
                    <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mikeross"/>
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="ross81"/>
                    <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mike.ross"/>
                </div>

            </div>
        </div>

        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..."/>
        </div>

        <div id="contacts">
            <ul>



                 {% for types in type_chat %}


                     <li class="contact" onclick="find_name({{ types.id }});">
                    <div class="wrap">
                        <span class="contact-status online"></span>

                        <div class="meta">

                            <p class="name">{{ types.name }}</p>
                            <p class="preview"><small>{{ types.type }}</small></p>
                        </div>
                    </div>
                </li>

                {% endfor %}

            </ul>
        </div>


        <div id="bottom-bar">
            <button id="addcontact"><i aria-hidden="true"></i>
            </button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
        </div>

    </div>


    <div class="content">
        <div class="contact-profile">
            <img src="{% user_image request.user.id %}" alt=""/>
            <p>{{ request.user }}</p>
            <div class="social-media">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>


        <div id="messages-list" class="messages">
            <ul id="messenger">


                {% for message in messages %}

                    {% if message.user.id != request.user.id %}
                        <li class="sent">
                            <img src="{% user_image message.user.id %}" alt=""/>
                            <p>{{ message.message }}<br>
                                <small>{{ message.date }}</small>
                                </br>
                            </p>
                        </li>

                    {% else %}

                        <li class="replies">
                            <img src="{% user_image request.user.id %}" alt=""/>
                            <p>{{ message.message }}<br>
                                <small>{{ message.date }}</small>
                                </br>
                            </p>
                        </li>

                    {% endif %}
                {% endfor %}


            </ul>
        </div>
        <form>
            <div class="message-input">
                <div class="wrap">
                    <input id="message" type="text" placeholder="Write your message..."/>
                    <input id="name" type="hidden" value="{{ request.user.id }}"/>
                    <input id="type" type="hidden" value="1"/>
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>


</div>

{% endblock container %}


{% block audiofile %}
<div id="audio_player">
    <audio id="audio1" src="{% static "audio/message.mp3"%}"></audio>
    </div>
{% endblock audiofile %}

{% block chatjs %}
    <script src="http://localhost:4000/socket.io/socket.io.js"></script>
    <script>
        var check = {{ request.user.id }};
    </script>
    <script src="{% static "js/chat.js" %}"></script>
{% endblock chatjs %}